body {
  display: flex;
  height: 1000px;
  justify-content: center;
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  form {
    background: radial-gradient(#ffffff, #5e5f61);
    margin: auto;
    border-radius: 10px;
  }
  form .grupo {
    position: relative;
    margin: 55px;
  }
  form .boton {
    text-align: center;
    margin: 20px;
  }
}
